In [6]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [7]:
df = pd.read_csv('data/SuperMarket Analysis.csv')
df.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Sales,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,Alex,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,1:08:00 PM,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,Giza,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29:00 AM,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,Alex,Yangon,Normal,Female,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,1:23:00 PM,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,Alex,Yangon,Member,Female,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,8:33:00 PM,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,Alex,Yangon,Member,Female,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37:00 AM,Ewallet,604.17,4.761905,30.2085,5.3

In [8]:
features = [
    'City',
    'Customer type',
    'Gender',
    'Product line',
    'Quantity',
    'Payment',
    'Date',
    'Time',
    'Rating'
]
target = 'Unit price'
df = df[features + [target]]

df['Date'] = pd.to_datetime(df['Date'])
df['DayOfWeek'] = df['Date'].dt.dayofweek
df['Hour'] = pd.to_datetime(df['Time']).dt.hour
df.drop(['Date', 'Time'], axis=1, inplace=True)

df_encoded = pd.get_dummies(df, drop_first=True)
df_encoded

C:\Users\lamla\AppData\Local\Temp\ipykernel_22920\2217690454.py:17: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Hour'] = pd.to_datetime(df['Time']).dt.hour

,Quantity,Rating,Unit price,DayOfWeek,Hour,City_Naypyitaw,City_Yangon,Customer type_Normal,Gender_Male,Product line_Fashion accessories,Product line_Food and beverages,Product line_Health and beauty,Product line_Home and lifestyle,Product line_Sports and travel,Payment_Credit card,Payment_Ewallet
0,7,9.1,74.69,5,13,False,True,False,False,False,False,True,False,False,False,True
1,5,9.6,15.28,4,10,True,False,True,False,False,False,False,False,False,False,False
2,7,7.4,46.33,6,13,False,True,True,False,False,False,False,True,False,True,False
3,8,8.4,58.22,6,20,False,True,False,False,False,False,True,False,False,False,True
4,7,5.3,86.31,4,10,False,True,False,False,False,False,False,False,True,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,1,6.2,40.35,1,13,True,False,True,True,False,False,True,False,False,False,True
996,10,4.4,97.38,5,17,False,False,True,False,False,False,False,True,False,False,True
997,1,7.7,31.84,5,13,False,True,False,True,False,True,False,False,False,False,False
998,1,4.1,65.82,4,15,False,True,True,True,False,False,False,True,False,False,False
999,7,6.6,88.34,0,13,False,True,False,False,True,False,False,False,False,False,False

In [9]:
X = df_encoded.drop(target, axis=1)
Y = df_encoded[target]

scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

X_train, X_test, Y_train, Y_test = train_test_split(X_scaled, Y, test_size=0.2, random_state=42)